<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anthony Kahwaji">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <script src="../javascript/search_by_criteria.js" type="text/javascript"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/popular_plants2.css" type="text/css" rel="stylesheet" />
    <link href="css/header-footer.css" type="text/css" rel="stylesheet"/>
    <script src="/javascript/searchResults.js"></script>
    <title>Result</title>
</head>

<body>
    <header>
        <div class="topheader">
            <div class="logo_name">
                <a href="/"><img src="https://landscapeplants.aub.edu.lb/images/logo.png"  class="aub_logo"></a>
                <h6 id="landscape">Landscape design & Ecosystem Management</h6>    
                <h8 id="faculty">faculty of agriculture and food sciences</h8><br>
                <h5 id="database"><strong>AUB Landscape and Plant Database</strong></h5>
            </div>
            <div id="searches_main">
                <a class="SearchLink" href="/SearchByName" id="SearchByNameButton">
                    <div class="searches">
                        <img id="search_images1" src="https://landscapeplants.aub.edu.lb/images/tab_search_small.png">
                        <span>Search by <br> name</span>
                    </div>
                </a>            
                <a class="SearchLink" href="/SearchByCriteria" id="SearchByCriteriaButton" >
                    <div class="searches">
                        <img id="search_images2" src="https://landscapeplants.aub.edu.lb/images/tab_criteria.png">
                        <span>Search by <br> Criteria</span>
                    </div>
                </a>
                <a class="SearchLink" href="/plantIdentification" id="PlantIdentificationBurron">            
                    <div class="searches">
                        <img id="search_images3" src="https://landscapeplants.aub.edu.lb/images/tab_identification.png">
                        <span>Plant <br> Indentification</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="Topnav">
                <ul>
                  <li class="home"><a  href="/">Home</a></li>
                  <li class="About_Us"><a  href="/AboutUs">About Us</a></li>
                  <li class="Useful_Links"><a href="/QuickLinks">Useful Links</a></li>
                  <li class="Image_Gallery"><a  href="/pants_page">Image Gallery</a></li>
                  <li class="Popular_plant_Categories"><a href="/popular_pants_page">Popular plant Categories</a></li>
                  <li class="Glossary"><a href="/Glossary">Glossary</a></li>
                  <li class="Contact us"><a href="/ContactUs">Contact us</a></li>
                </ul>
            </div>
    </header>

    <main>
        <body class="news">
            <header>
            </header>
            <div id="filters-results">
                <% if(!(filters && Object.keys(filters).length === 0 && Object.getPrototypeOf(filters) === Object.prototype)){%> 
                    <div id="filters" class="card shadow">
                        <p class="Scientificname" >Filters</p>
                        <% console.log(filters) %> 
                        <ul class="list-group list-group-numbered">
                            <% for (const key in filters){%>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold"><%=key%></div>
                                      
                                        <div class="ps-3">
                                            <% if(typeof filters[key] === 'string'){ %>
                                                <%= filters[key] %>
                                            <% }else{ %> 
                                            <% for (let index = 0; index < filters[key].length; index++) { %>
                                                <%= filters[key][index] %>
                                             <% }}  %> 
                                        </div>
                                        
                                    </div>
                                </li>
                            <% } %> 
                        </ul>
                    </div>
                <% } %> 
                <div id="image_container">
                    <%= console.log("in ejs") %> 
                    <% if(plants=="") { %>
                        <h5>No results found</h5>
                    <%}else{ %>
                        <% plants.forEach((element,index) => { %>
                            <% if(index==partial){ %>
                                <h5>The entries below are partial matches</h5>
                                <br>
                            <% } %> 
                            <div class="section" id='<%= element._id %>'>
                                <% if(element.Images.length!=0){ %>
                                    <img class="item_image" src='<%= "https://landscapeplants.aub.edu.lb"+ element.Images[0].Key%>' alt="">
                                <%}%>
                                <div class="contentOfSection">
                                    <p class="Scientificname">
                                        <%=element.ScientificName%>
                                        <span class="englishname">
                                            <%=element.CommonEnglishName%>
                                        </span>
                                    </p>
                                    <span class="imagesFilters">
                                    <img class="plantTypeImg category_image" src="" alt='<%= element.plantType %>'data-bs-toggle="tooltip">
                                    <img class="plantHeightImg category_image" src="https://landscapeplants.aub.edu.lb/images/iconHeight.png"  alt='<%= element.plantHeight %>'  data-bs-toggle="tooltip" title='<%= element.plantHeight %>'>
                                    <img class="plantSpreadImg category_image" src="https://landscapeplants.aub.edu.lb/images/iconSpread.png"  alt='<%= element.plantSpread %>' data-bs-toggle="tooltip" title='<%= element.plantSpread %>' >
                                    <img class="canopyShapeImg category_image" src=""  alt='<%= element.canopyShape %>' data-bs-toggle="tooltip">
                                    <img class="growthRateImg category_image" src="https://landscapeplants.aub.edu.lb/images/iconGrowth.png" alt='<%= element.growthRate %>' data-bs-toggle="tooltip" title='<%= element.growthRate %>'>
                                    <% if(Array.isArray(element.colorFlower)){ %>
                                        <% element.colorFlower.forEach(color => { %>
                                        <img  src="" class="category_image colorFlowerImg" alt='<%= color %>' data-bs-toggle="tooltip">
                                    <% });} else{ %>
                                        <img  src="" class="category_image colorFlowerImg" alt='<%= element.colorFlower %>' data-bs-toggle="tooltip">
                                    <%} %>
                                    <% if(Array.isArray(element.fruitColor)){ %>
                                        <% element.fruitColor.forEach(color => { %>
                                        <img  src="" class="category_image fruitColorImg" alt='<%= color %>'data-bs-toggle="tooltip">
                                    <% });} else{ %>
                                        <img  src="" class="category_image fruitColorImg" alt='<%= element.fruitColor %>'data-bs-toggle="tooltip">
                                    <% } %>
                                    <img class="flowerScentImg category_image" src="" alt='<%= element.flowerScent %>' data-bs-toggle="tooltip" title='<%= element.flowerScent %>'>
                                    <img class="edibleImg category_image" src=""alt='<%= element.edible %>' data-bs-toggle="tooltip" title='<%= element.edible %>'>
                                    <% if(Array.isArray(element.light)){ %>
                                        <% element.light.forEach(lightElement => { %>
                                        <img src="" class="category_image lightImg" alt='<%= lightElement %>' data-bs-toggle="tooltip">
                                    <% });} else{ %>
                                        <img src="" class="category_image lightImg" alt='<%= element.light %>' data-bs-toggle="tooltip">
                                    <% } %>
                                    <img class="waterImg category_image" src="" alt='<%= element.water %>' data-bs-toggle="tooltip" title='<%= element.water %>'>
                                    </span>
                                </div>
                                
                                
                            </div>
                        <% }); %>
                    <%}%>
                    
                </div>
            </div>
            
          </body>
    </main>

    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx" target="_blank">Copyright</a></li>
            <li class="list-inline-item"><a href="/Citing">Citing the plant database</a></li>
            <li class="list-inline-item"><a href="/Acknowledgments">Acknowledgements </a></li>
            <li class="list-inline-item"><a href="/ContactUs">Contact Us</a></li>
        </ul>
        <p class="copyright">American University of Beirut © 2021</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>